.idea
1-node-farm/starter/node_modules

# MAIN
4-natours/starter/.idea
4-natours/starter/node_modules
4-natours/starter/config.env

# AFTER SECTION 8
4-natours/starter-after-section-8-mongo-mongoose/config.env
# AFTER SECTION 9
4-natours/starter-after-section-9-error-handling/config.env

# Course Files
theory-lectures.pdf
vscode-setup.md
README.md
